@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer 
@{
    ViewData["Title"] = @localizer["Privacy Policy"];
}
<h1>@ViewData["Title"]</h1>

<p>@localizer["Use this page to detail your site's privacy policy."]</p>
<h1>@localizer["Welcome!"]</h1>
<h3>@localizer["Hello"]</h3>
