@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer 
@{
    Layout = "~/Views/Shared/Job/_Layout.cshtml";
}
@model JobCreateViewModel
@*    <div class="section section-padding">
        <div class="container">
            <div class="row">
                <div class="create-job-form col-lg-10 mx-auto">
                    <form action="Create">
                        <div class="row mb-n3">
                            <div class="col-md-6 col-12 mb-3">
                                <label for="jobTitle">Job Title</label>
                                <input type="text" id="jobTitle" placeholder="e.g. web design">
                            </div>
                            <div class="col-md-6 col-12 mb-3">
                                <label for="applicationDeadline">Application Deadline</label>
                                <input type="text" id="applicationDeadline" placeholder="12/24/2022">
                            </div>
                            <div class="col-md-6 col-12 mb-3">
                                <label for="jobType">Job Type</label>
                                <select id="jobType">
                                    <option value="type1">Full Time</option>
                                    <option value="type2">Part Time</option>
                                    <option value="type3">Freelance</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-12 mb-3">
                                <label for="jobCategory">Job Category</label>
                                <select id="jobCategory">
                                    <option value="type1">Web Design</option>
                                    <option value="type2">Ui Ux Design</option>
                                    <option value="type3">WordPress Developer</option>
                                    <option value="type4">React Developer</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-12 mb-3">
                                <label for="salaryRange">Salary Range</label>
                                <input type="text" id="salaryRange" placeholder="5k-8k">
                            </div>
                            <div class="col-md-6 col-12 mb-3">
                                <label for="jobGender">Gender</label>
                                <select id="jobGender">
                                    <option value="type1">Any</option>
                                    <option value="type2">Male</option>
                                    <option value="type3">Female</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-12 mb-3">
                                <label for="jobExperience">Experience</label>
                                <select id="jobExperience">
                                    <option value="type1">1 Year to 2 Year</option>
                                    <option value="type2">2 Year to 3 Year</option>
                                    <option value="type3">3 Year to 4 Year</option>
                                    <option value="type4">4 Year to 5 Year</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-12 mb-3">
                                <label for="jobEducation">Education</label>
                                <select id="jobEducation">
                                    <option>Postdoc</option>
                                    <option>Ph.D.</option>
                                    <option>Master</option>
                                    <option>Bachelor</option>
                                </select>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="jobDescription">Description</label>
                                <textarea id="jobDescription" rows="5"></textarea>
                            </div>
                            <div class="col-12 mb-3">
                                <button type="submit" class="btn btn-primary px-5">Post Job</button>
                            </div>
                        </div>
                        <div class="row"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@
<form asp-controller="Job" asp-action="Create" method="post" enctype="multipart/form-data">
  <div class="form-row">
     
  <div class="row">
      <div class="form-group col-md-3">
      <label asp-for="Salary" class="form-label">@localizer["Salary"]</label>
      <input asp-for="Salary" type="text" class="form-control" id="inputPassword4" placeholder="@localizer["Salary"]">
    </div>
     <div class="form-group col-md-3">
      <label asp-for="Description" class="form-label">Desc</label>
      <input asp-for="Description" type="text" class="form-control" id="inputPassword4" placeholder="Descrip">
    </div>
   

  <div class="form-group col-md-3">
      <label asp-for="JobTypeTrId" class="form-label">@localizer["JobType"]</label>
      <select asp-for="JobTypeTrId" class="form-control" asp-items="@ViewBag.jobType">
        <option selected>@localizer["Choose"]...</option>
      </select>
    </div>

  <div class="form-group col-md-3">
    <label asp-for="CareateDate" class="form-label">@localizer["CreateDate"]</label>
    <input asp-for="CareateDate" class="form-control" id="inputAddress2" placeholder="@localizer["CreateDate"]">
  </div>
   <div class="form-group col-md-3">
    <label asp-for="UpdateDate" class="form-label">@localizer["UpdateDate"]</label>
    <input asp-for="UpdateDate" class="form-control" id="inputAddress2" placeholder="@localizer["UpdateDate"]">
  </div>
  </div>
   <div class="row">
        <div class="form-group col-md-4">
      <label asp-for="JobCateTrId" class="form-label">@localizer["JobCategory"]</label>
      <select asp-for="JobCateTrId" class="form-control" asp-items="@ViewBag.jobCategory">
        <option selected>@localizer["Choose"]...</option>
      </select>
    </div>
     <div class="form-group col-md-4">
      <label asp-for="ExperienceTrId" class="form-label">@localizer["Experience"]</label>
      <select asp-for="ExperienceTrId" class="form-control" asp-items="@ViewBag.exper">
        <option selected>@localizer["Choose"]...</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label asp-for="UserId" class="form-label">@localizer["User"]</label>
      <select asp-for="UserId" class="form-control" asp-items="@ViewBag.user">
        <option selected>@localizer["Choose"]...</option>
      </select>
    </div>
  </div>
  </div>
  <div class="form-row">
 
  </div>
  <div class="mt-4">
  <button asp-controller="Job" asp-action="List" class="btn btn-success ">@localizer["back"]</button>
  <button type="submit" class="btn btn-primary">@localizer["Create"]</button>
  </div>
</form>