@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer 
@model JobCreateViewModel
<form asp-controller="Job" asp-action="Create" method="post" enctype="multipart/form-data">
  <div class="form-row">
     
  <div class="row">
      <div class="form-group col-md-3">
      <label asp-for="Salary" class="form-label">@localizer["Salary"]</label>
      <input asp-for="Salary" type="text" class="form-control" id="inputPassword4" placeholder="@localizer["Salary"]">
    </div>
     <div class="form-group col-md-3">
      <label asp-for="Description" class="form-label">Desc</label>
      <input asp-for="Description" type="text" class="form-control" id="inputPassword4" placeholder="Descrip">
    </div>
   

  <div class="form-group col-md-3">
      <label asp-for="JobTypeTrId" class="form-label">@localizer["JobType"]</label>
      <select asp-for="JobTypeTrId" class="form-control" asp-items="@ViewBag.jobType">
        <option selected>@localizer["Choose"]...</option>
      </select>
    </div>

  <div class="form-group col-md-3">
    <label asp-for="CareateDate" class="form-label">@localizer["CreateDate"]</label>
    <input asp-for="CareateDate" class="form-control" id="inputAddress2" placeholder="@localizer["CreateDate"]">
  </div>
   <div class="form-group col-md-3">
    <label asp-for="UpdateDate" class="form-label">@localizer["UpdateDate"]</label>
    <input asp-for="UpdateDate" class="form-control" id="inputAddress2" placeholder="@localizer["UpdateDate"]">
  </div>
  </div>
   <div class="row">
        <div class="form-group col-md-4">
      <label asp-for="JobCateTrId" class="form-label">@localizer["JobCategory"]</label>
      <select asp-for="JobCateTrId" class="form-control" asp-items="@ViewBag.jobCategory">
        <option selected>@localizer["Choose"]...</option>
      </select>
    </div>
     <div class="form-group col-md-4">
      <label asp-for="ExperienceTrId" class="form-label">@localizer["Experience"]</label>
      <select asp-for="ExperienceTrId" class="form-control" asp-items="@ViewBag.exper">
        <option selected>@localizer["Choose"]...</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label asp-for="UserId" class="form-label">@localizer["User"]</label>
      <select asp-for="UserId" class="form-control" asp-items="@ViewBag.user">
        <option selected>@localizer["Choose"]...</option>
      </select>
    </div>
  </div>
  </div>
  <div class="form-row">
 
  </div>
  <div class="mt-4">
  <button asp-controller="Job" asp-action="List" class="btn btn-success ">@localizer["back"]</button>
  <button type="submit" class="btn btn-primary">@localizer["Create"]</button>
  </div>
</form>