@{
    Layout = "~/Views/Shared/Job/_Layout.cshtml";
}
@model Job
	<section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1" style="background: url(images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header">
							<h3>Tixt Dog</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
				 	<div class="col-lg-8 column">
				 		<div class="job-single-sec">
				 			<div class="job-single-head2">
				 				<div class="job-title2"><h3>Senior Web Designer</h3><span class="job-is ft">@Model.JobTypeTranslate.Name</span><i class="la la-heart-o"></i></div>
				 				<ul class="tags-jobs">
				 					<li><i class="la la-map-marker"></i> Sacramento, California</li>
				 					<li><i class="la la-money"></i> Monthly Salary : <span>@Model.Salary</span></li>
				 					<li><i class="la la-calendar-o"></i> Post Date: @Model.CareateDate</li>
				 				</ul>
				 				<span><strong>Roles</strong> : UX/UI Designer, Web Designer, Graphic Designer</span>
				 			</div><!-- Job Head -->
				 			<div class="job-details">
				 				<h3>Job Description</h3>
								 <p>@Model.Description</p>
				 				<p>Company is a 2016 Iowa City-born start-up that develops consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
				 				<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien</p>
				 				<h3>Required Knowledge, Skills, and Abilities</h3>
				 				<ul>
				 					<li>Ability to write code – HTML & CSS (SCSS flavor of SASS preferred when writing CSS)</li>
				 					<li>Proficient in Photoshop, Illustrator, bonus points for familiarity with Sketch (Sketch is our preferred concepting)</li>
				 					<li>Cross-browser and platform testing as standard practice</li>
				 					<li>Experience using Invision a plus</li>
				 					<li>Experience in video production a plus or, at a minimum, a willingness to learn</li>
				 				</ul>
				 				<h3>Education + Experience</h3>
				 				<ul>
				 					<li>Advanced degree or equivalent experience in graphic and web design</li>
				 					<li>3 or more years of professional design experience</li>
				 					<li>Direct response email experience</li>
				 					<li>Ecommerce website design experience</li>
				 					<li>Familiarity with mobile and web apps preferred</li>
				 					<li>Excellent communication skills, most notably a demonstrated ability to solicit and address creative and design feedback</li>
				 					<li>Must be able to work under pressure and meet deadlines while maintaining a positive attitude and providing exemplary customer service</li>
				 					<li>Ability to work independently and to carry out assignments to completion within parameters of instructions given, prescribed routines, and standard accepted practices</li>
				 				</ul>
				 			</div>
				 			<div class="job-overview">
					 			<h3>Job Overview</h3>
					 			<ul>
					 				<li><i class="la la-money"></i><h3>Offerd Salary</h3><span>£15,000 - £20,000</span></li>
					 				<li><i class="la la-mars-double"></i><h3>Gender</h3><span>Female</span></li>
					 				<li><i class="la la-thumb-tack"></i><h3>Career Level</h3><span>Executive</span></li>
					 				<li><i class="la la-puzzle-piece"></i><h3>Industry</h3><span>Management</span></li>
					 				<li><i class="la la-shield"></i><h3>Experience</h3><span>2 Years</span></li>
					 				<li><i class="la la-line-chart "></i><h3>Qualification</h3><span>Bachelor Degree</span></li>
					 			</ul>
					 		</div><!-- Job Overview -->
				 			<div class="share-bar">
				 				<span>Share</span><a href="job_single2.html#" title="" class="share-fb"><i class="fa fa-facebook"></i></a><a href="job_single2.html#" title="" class="share-twitter"><i class="fa fa-twitter"></i></a>
				 			</div>
				 		</div>
				 	</div>
				 	<div class="col-lg-4 column">
				 		<div class="job-single-head style2">
			 				<div class="job-thumb"> <img src="images/resource/sjs.png" alt="" /> </div>
			 				<div class="job-head-info">
			 					<h4>Tix Dog</h4>
			 					<span>274 Seven Sisters Road, London, N4 2HY</span>
			 					<p><i class="la la-unlink"></i> www.jobhunt.com</p>
			 					<p><i class="la la-phone"></i>@Model.User.PhoneNumber</p>
			 					<p><i class="la la-envelope-o"></i> @Model.User.Email</p>
			 				</div>
			 				<a href="job_single2.html#" title="" class="apply-job-btn"><i class="la la-paper-plane"></i>Apply for job</a>
			 				<a href="job_single2.html#" title="" class="apply-job-linkedin"><i class="fa fa-linkedin"></i>Apply with Linkedin</a>
			 				<a href="job_single2.html#" title="" class="viewall-jobs">View all Jobs</a>
			 			</div><!-- Job Head -->
				 	</div>
				</div>
			</div>
		</div>
	</section>