@model List<JobListViewModel>
@{
    ViewBag.Title = "Job List";
} 
<div class="card-deck">
    @foreach (var staff in Model)
    {
        var photoFilePath = "~/images/" + ("download.png");
    <div class="card m-3" style="min-width:18rem;max-width:16.5%;">
        <div class="card-header">
            <h4>@staff.JobCatName @staff.JobTypeName</h4>
        </div>
        <img class="card-img-top" src="@photoFilePath" asp-append-version="true" /> 
        <div class="card-footer text-center">
            <a asp-controller="home" asp-action="Details" asp-route-Id="@staff.JobId" class="btn btn-primary m-1">View</a>
            <a asp-controller="Job" asp-action="Edit" asp-route-id="@staff.JobId" class="btn btn-primary m-1">Edit</a>
            <a asp-controller="Job" asp-action="Delete" asp-route-id="@staff.JobId" class="btn btn-danger m-1">Delete</a>
            <td>
                                <a href="#" class="btn btn-link btn-sm btn-rounded text-success"><i class="fa fa-edit" aria-hidden="true"></i> View</a>
                                <a asp-controller="Job" asp-action="Edit" asp-route-id="@staff.JobId" class="btn btn-link btn-sm btn-rounded"><i class="fa fa-edit" aria-hidden="true"></i> Edit</a>
                                <form class="btn btn-sm-1" asp-controller="Job" asp-action="Delete" asp-route-id="@staff.JobId" method="post">
                                    <button type="submit" class="btn btn-link btn-rounded text-danger" onclick="return confirm('Are you sure you want to delete this record?');">
                                        Delete
                                    </button>
                                </form>
                            </td>
        </div>
    </div>
    }
</div>
@*<div class="container-fluid">
  <h2>Card Classes</h2>
  <p>The card class is suitible for both images and notes:</p>
  <div class="card" style="width:300px">
    <img src="img_avatar1.png" alt="Image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
</div>*@