@model List<JobListViewModel>
@{
	 Layout = "~/Views/Shared/Job/_Layout.cshtml";
	   Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<section>
		<div class="block">
			<div class="container">
				 <div class="row">
				 	<div class="col-lg-12">
				 		<span class="emlthis"><a href="mailto:example.com" title=""><i class="la la-envelope-o"></i> Email me Jobs Like These</a></span>
				 		<div class="filterbar">
				 			<h5>98 Jobs & Vacancies</h5>
				 			<div class="sortby-sec">
				 				<span>Sort by</span>
				 				<select data-placeholder="Most Recent" class="chosen">
									<option>Most Recent</option>
									<option>Most Recent</option>
									<option>Most Recent</option>
									<option>Most Recent</option>
								</select>
								<select data-placeholder="20 Per Page" class="chosen">
									<option>30 Per Page</option>
									<option>40 Per Page</option>
									<option>50 Per Page</option>
									<option>60 Per Page</option>
								</select>
				 			</div>
				 		</div>
				 		<div class="job-grid-sec">
							<div class="row">
								@foreach (var item in Model)
							{
								if (item.JobTypeName == "contract" || item.JobTypeName == "shartnoma" || item.JobTypeName == "договор")
								{
									ViewData["login"] = "Login";
								}
								else
								{
									ViewData["login"] = "Login1";
								}

								<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
									<div class="job-grid border">
										<div class="job-title-sec">
											<div class="c-logo"> <img src="~/adminJob/images/resource/jg1.png" alt="" /> </div>
											<h3><a href="job_list_grid.html#" title="">@item.Salary/@item.JobCatName</a></h3>
											<span>Massimo Artemisis</span>
											<span class="fav-job"><i class="la la-heart-o"></i></span>
										</div>
										<span class="job-lctn">Sacramento, California</span>
										<a asp-controller="Job" asp-action="data" asp-route-id="@item.JobId"  title="">APPLY NOW Details</a>										
									</div><!-- JOB Grid -->
								</div>
							}
							</div>
						</div>
						<div class="pagination">
							@if (pager.TotalPages > 0)
						{
							<ul>
								@if (pager.CurrentPage > 1)
								{

									<li class="prev"><a asp-controller="Job" asp-action="List" asp-route-pg="1"><i class="la la-long-arrow-left"></i> First</a></li>
									<li class="prev"><a asp-controller="Job" asp-action="List" asp-route-pg="@(pager.CurrentPage - 1)"><i class="la la-long-arrow-left"></i> Previous</a></li>
								}
								@for (int pge = pager.StartPage; pge < pager.EndPage; pge++)
								{
									<li class="  @(pge == pager.CurrentPage ? "active" : "" )"><a asp-controller="Job" asp-action="List" asp-route-pg="@pge">@pge</a></li>
								}
								@if (pager.CurrentPage < pager.TotalPages)
								{
										<li class="next"><a asp-controller="Job" asp-action="List" asp-route-pg="@(pager.CurrentPage + 1)">Next <i class="la la-long-arrow-right"></i></a></li>
										<li class="next"><a  asp-controller="Job" asp-action="List" asp-route-pg="@pager.TotalPages">Last <i class="la la-long-arrow-right"></i></a></li>
								}
							</ul>
						}
						</div><!-- Pagination -->
				 	</div>
				 </div>
			</div>
		</div>
	</section>
	
